@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*
COLORS:

2010 - 45B8AC
2011 - D65076
2012 - DD4124
2013 - 009874
2014 - AD5E99
2015 - 964F4C
2016 - 93A9D1
2017 - 88B04B
2018 - 5F4B8B
2019 - FF6F61
2020 - 0F4C81

*/

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
 
}

header {
  display: block;
  width: 100%;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0em 1em;
}

.main_header__logo {
  width: 200px;
}

.main_header >  h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 3rem;

}

#counter {
  font-style: normal;
  font-weight: 300;
  font-size: 3rem;

}

.sub_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background-color: #0F4C81;

}

.sub_header__title  {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 0.6em;
  color: #FFFFFF;
}


#highScore {
  font-style: normal;
  font-size: 1.5rem;
  padding: 0 1em;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img.description__logo {
  width: 100px;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  
  gap: 3em 8em;
  margin: 3em 3em;
  margin-bottom: 0;
  }

  .card {
    cursor: crosshair;
  }

  .card__colorBox {
    width: 200px;
    height: 200px;
    position: relative;
}

.plus_icon:hover {
  background-color: #ffffffa1;
}

.plus_icon {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff66;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.5em;
  line-height: 25px;
  cursor: pointer;
  z-index: 9;
}

.card__description {
  border: 1px solid #DBDBDB;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5em;
}

.card__description > * {
  padding: 0.3em;
}

.winScreen {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 990;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
}

.winScreen > .winScreen_image {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../images/2020_modal.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.winScreen_btn_group {
  width: 30%;
  position: absolute;
  bottom: 150px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}




.btn {
  width: 280px;
  height: 90px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 84px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  outline:none;
  box-sizing: border-box;
}

.btn.white {
  border: 6px solid white;
}

.btn.white:hover {
  background-color: #00000096;
}

.btn.black {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.black:hover {
  background-color: rgb(59, 59, 59)
}

.section_wrapper {
  width: 100%;
  height: 100%;
}

.colorModal {
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 990;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
}

.colorModal > .modal_image {
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.colorModal > .btn {
  position: absolute;
  bottom: 150px;
  z-index: 999;
}


@media screen and (max-width: 950px) {
  .main_header__logo {width: 100px;}
  #counter {font-size: 1.5rem;}
  .main_header > h1 {font-size: 2rem;}
  .sub_header__title{font-size: 1rem;}
  #highScore{font-size: 1rem}
  .card_container{margin: 3em 1em}
}

@media screen and (max-width: 600px) {
  .main_header {
  height: 60px;
  }
  .card_container {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0.8em;
  }
  .card {display: flex;}
  .card__colorBox {
    width: 50px;
    height: 50px;
  }
  .card__description {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: start;
  }
  .main_header__logo {width: 100px;}
  #counter {font-size: 1.5rem; text-align: center;}
  .main_header > h1 {font-size: 1.5rem; text-align: center;}
  .sub_header__title{font-size: 0.8rem;}
  #highScore{font-size: 0.8rem; text-align: center;}
}

